* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  background: #ede0d4;
  overflow-x: hidden;
}

.slider {
  width: 100%;
  height: 100vh;
  aspect-ratio: 16/9;
  background-image: url(./portfolio-inspi/fond.jpg);
  background-position: center;
  background-size: cover;
}

.dev {
  width: 92%;
  height: 80vh;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin-left: 133px;
  font-family: "Open Sans", sans-serif;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  font-size: 70px;
  color: #9c6644;
  margin-bottom: 80px;
  font-family: "Open Sans", sans-serif;
}
.section {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
}

h2 {
  font-size: 50px;
  color: #9c6644;
  font-family: "Open Sans", sans-serif;
}

.box {
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
  padding: 20px;
  font-family: "Open Sans", sans-serif;
  gap: 15px;
}

.w32rubrique:hover {
  cursor: pointer;
  font-size: 30px;
}

.flex1 {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* margin-right: 50px; */
  background-image: url(./portfolio-inspi/vase1.jpg);
  background-size: cover;
  width: 300px;
  height: 300px;
  border-radius: 50% 50% 0 0;
  border: 2px #9c6644 solid;
  position: relative;
}

.flex2 {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* margin-right: 50px; */
  background-image: url(./portfolio-inspi/decoration-meubles-accessoires.jpg);
  background-size: cover;
  width: 300px;
  height: 300px;
  border-radius: 50% 50% 0 0;
  border: 2px #9c6644 solid;
  position: relative;
}

.flex3 {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* margin-left: 50px; */
  background-image: url(./portfolio-inspi/flacon-fleurs.jpg);
  background-size: cover;
  width: 300px;
  height: 300px;
  border-radius: 50% 50% 0 0;
  border: 2px #9c6644 solid;
  position: relative;
}

.about a {
  position: absolute;
  color: brown;
  text-decoration: none;
  margin-bottom: 30px;
}

.project a {
  position: absolute;
  color: brown;
  text-decoration: none;
  bottom: 50px;
}

.contact a {
  position: absolute;
  color: brown;
  text-decoration: none;
  bottom: 10px;
}

.button {
  width: 100px;
  height: 100px;
}

.dev a {
  text-align: center;
  background-color: pink;
  /* border-width: initial;
  border-style: solid; */
  /* border-color: maroon;
  border-image: initial;
  border-radius: 10px; */
}

.dev a:hover {
  transform: translate(80px 60px);
  animation: color-change 3s infinite;
  transform: scale(1, 5);
}

@keyframes color-change {
  0% {
    color: #9c6644;
  }
  50% {
    color: beige;
  }
  100% {
    color: brown;
  }
}

.media {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: #d4a373;
  align-items: center;
  padding: 20px;
  color:#9c6644
}

#about {
  height: 100vh;
}
#projets {
  height: 100vh;
}
#contact {
  height: 100vh;
}

@media screen and (max-width: 800px) {
  .media {
    display: flex;
    flex-direction: column;
  }
}
