* {
  margin: 0; 
  padding: 0;
  /* l'espace pour la page */
}

body {
  font-family: "Inter", sans-serif;
  /* police de texte */
  max-width: 1440px;
  /* taille maximale de la page */
  margin: 0 auto;
  /* definir l'espace exterieur */
  background: #ede0d4;
  /* couleur de fonf */
  overflow-x: hidden;

}

.slider {
  width: 100%;
  height: 100vh;
  aspect-ratio: 16 / 9;
  background-image: url(../fond.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

h1:hover:after {
  content:"";
  /* après je souhaite que le contenu change*/
  width: 50%;
  height: 2px;
  background-color: #772f1a;
  /* la couleur de fond de block */
  position: absolute;
  /* positionner un element par rapport à son parent */
  bottom: 0;
  /* possitionner le texte dans le block */
  left: 0;
  /* possitionner le texte dans le block */
  transition: 0.5s;
  /* temps et durée d'animation du mouvement*/
  opacity: 1;
  /* epaisseur */
}

.blockfleche {
  width: 100px;
  height: 100px;
  display: flex;
  /* aligner */
  justify-content: center;
  /* centrer le block */
  align-items: center;
  /* aligner les elements  */
    
}
.fleche {
  width: 10px;
  height: 40px;
  border-radius: 20px;
  /* arrondir la bordure */
  background-color:#99582a;
  display: inline-block;
  /* transforme en block afin de modifier  */
  margin: 6px;
  animation: move 2s infinite ease-in-out;
  
}

.fleche:nth-of-type(1) {
  transform: rotate(-45deg);
}

.fleche:nth-of-type(2) {
  transform: rotate(45deg);
}

 @keyframes move { 
  /* style au animation */
  0%{margin-top: 0;}
  50%{margin-top: 100px;}
  100%{margin-top: 0;}
} 

.dev {
  width: 100%;
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* definit la façon dans le contenu d'un élémnt remplacé */
}

h1 {
  font-size: 70px;
  color: #772f1a;
  margin-bottom: 80px;
  font-family: "Open Sans", sans-serif;
}
.section {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  /* espace entre les éléments (flex) */
}

h2 {
  font-size: 50px;
  color: #772f1a;
  font-family: "Open Sans", sans-serif;
}

.box {
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
  padding: 20px;
  font-family: "Open Sans", sans-serif;
  gap: 30px;
}

.w32rubrique:hover {
  cursor: pointer;
  font-size: 30px;
  color: #9c6644;
}

.flex1 {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* margin-right: 50px; */
  background-image: url(../vase1.jpg);
  background-size: cover;
  width: 300px;
  height: 300px;
  border-radius: 50% 50% 0 0;
  border: 2px #772f1a solid;
  position: relative;
}

.flex2 {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* margin-right: 50px; */
  background-image: url(../decoration\ \ meubles\ accessoires.jpg);
  background-size: cover;
  width: 300px;
  height: 300px;
  border-radius: 50% 50% 0 0;
  border: 2px #772f1a solid;
  position: relative;
}

.flex3 {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: space-evenly;
  /*  */
  align-items: center;
  /* margin-left: 50px; */
  background-image: url(../flacon\ fleurs.jpg);
  background-size: cover;
  /* taille  */
  width: 300px;
  height: 300px;
  border-radius: 50% 50% 0 0;
  border: 2px #9c6644 solid;
  position: relative;
}

.about a {
  position: absolute;
  color: #772f1a;
  text-decoration: none;
  margin-bottom: 30px;
  top: 220px;
}
#about p {
  color: #772f1a ;
  padding:0 auto;

}

.project a {
  position: absolute;
  color: #772f1a;
  text-decoration: none;
  bottom: 109px;
    right: 73px;
}

.contact a {
  position: absolute;
  color: #772f1a;
  text-decoration: none;
  bottom: 110px;
  right: 115px;
}
.button {
  width: 100px;
  height: 100px;
}

.media {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: #d4a373;
  align-items: center;
  padding: 20px;
  color:#772f1a;
}

#about {
  height: 100vh;
  text-align: center;
  padding: 100px;
  flex-direction: column;
}
#projets {
  height: 100vh;
  text-align: center;
}
#contact {
  height: 100vh;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .media {
    display: flex;
    flex-direction: column;
  }
}

.flechetop {
  width:  50px;
  height: 50px;
  background-color: #9c6644;
  bottom: 50px;
  right: 50px;
  position: fixed;
  /* display: fixed;
  justify-content: center;
  align-items: center; */
  text-align: center;
  color: #772f1a;
  transform: rotate(180deg);
}



footer p {
  color:#772f1a;
}
p{
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

#form-container {
  display:flex;
  flex-direction: column;
  vertical-align: top;
}

#contact-form {
  flex-direction: column;
  width: 46%;
  padding: 15px;
  border: none;
  border-radius: 10px;
  background-color:#d4a373;
  color:#772f1a;
  display: flex;
  margin: 0 auto;
}

.icones {
  display: inline-block;
  gap: 10px;
  margin: 20px;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.icones img {
  display: inline-block;
  width: 50px;
  height: 50px;
}

button {
  display: inline-block;
  background-color: #d4a373;
  border-radius: 10px;
  border: 4px double #772f1a;
  color: #772f1a;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
