*{
    margin: 0;
}

.ecran {
    width: 100vw;
    height: 100vh;
}

#colorg {
    background-color: goldenrod;

}
#colori {
    background-color: indianred;
}
.petitcarre {
    width: 50%;
    height: 50%;
    background-color: purple;
}
.petitcarre p {
    color: white;
    font-size: 2em;
    text-align: center;
}