*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html {
    font-size: 67,5%;
}
.parent {
    width: 100%;
    height: 50vh;
    border: solid;
    display: flex;
    background-color: blueviolet;

}

.enfant {
    border: solid;
    width: 50%;
    height: 100%;
}

#enf1 {
    background-color: red;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex; 
    /* dipllay flex elle aligne le texte */
    gap: 40px;
    /* gap espace en haut et en bas du texte  */
}

#enf2 {
    background-image: url(./croissant.png);
    background-size: cover;
    /* background-position x: center; */
    /* ba y ; px*/
    /* ba : no-repeat */
    /* ba position : center ou ba size : 100% */
    
}

#enf3 {
    background-color: green;
}

#enf4 {
    background-color: pink;
}

p {
    width: 50%;
    /* réduire l'espace du texte */
}

#enf5 {
    background-color: palegreen
}

#enf6 {
    background-color: peru;
}
