.cotainer {
    max-width: 1200px; ;
    margin:0 auto;  
}
.parent{
    height: 12vh;
    width: 100%;
    background-color: pink;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
img {
    height: 95%;
    width: 92%;
}
.logo {
    width: 60px;
    height: 60px;
    margin-left: 10px;

}

.nav {
    width: 30%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.main {
    width: 100%;
    height: 88vh;
    display: flex;
}

.main-left {
    width: 50%;
    height: 100%;
    background-color: aqua;
}
.main-right {
    width: 50%;
    height: 100%;
    background-color: blue;
}
@media screen and (max-width:767px){
    .main-left{
        background-color: green
    }
    .main-right {
        background-color:indigo ;
    }
    .nav{
        display: none;
    }


}

